<% provide(:title, "Register") %>

<div class="row">
  <div class="large-4 columns">
    <h2>Register</h2>

    <%= simple_form_for(resource, as: resource_name,
                 url: registration_path(resource_name)) do |f| %>
      <%= f.input :email, autofocus: true %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>

      <%= f.button :submit, "Register" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
